@model NawazEyeWebProject_NEW_.ViewModels.ExternalLoginListViewModel
@using Microsoft.Owin.Security
<h3 style="text-align:center">Or</h3>
<h4>Use following services to log in</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        <div id="socialLoginList">
            <p>
                @foreach (AuthenticationDescription p in loginProviders)
                {
                    string s;
                    if (p.Caption=="Facebook")
                    {
                        s = "loginBtn--facebook";
                    }
                    else if (p.Caption == "Google")
                    {
                        s= "loginBtn--google";
                    }
                    else
                    {
                        s = "";
                    }
                    <button type="submit" class="loginBtn @s" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>
                    
                }
            </p>
        </div>
    }
}
