@{ 
    string hActiveClass = "";
    string sActiveClass = "";
    string fActiveClass = "";
    string cActiveClass = "";
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    if (controllerName == "Home")
    {
        hActiveClass = "menuItemActive";
    }
    else if (controllerName == "Sunglasses")
    {
        sActiveClass = "menuItemActive";
    }
    else if (controllerName == "Frames")
    {
        fActiveClass = "menuItemActive";
    }
    else if (controllerName == "Cart")
    {
        cActiveClass = "menuItemActive";
    }
}
<div class="menubar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                <ul class="menuItems">
                    <li class="menuItem @cActiveClass">
                        @Html.Partial("_CartIcon")
                    </li>
                    <li class="menuItem @fActiveClass">@Html.ActionLink("Frames", "Index", "Frames")</li>
                    <li class="menuItem @sActiveClass">@Html.ActionLink("Sunglasses", "Index", "Sunglasses")</li>
                    <li class="menuItem @hActiveClass">@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
</div>
