@model NawazEyeWebProject_NEW_.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string parallaxClass = "parallax";
    string s = Request.UserAgent;
    if (!s.Contains("Edge") || s.Contains("Firefox"))
    {
        parallaxClass += "2";
    }
}
<!--Slider-->
<div id="slider" class="container-fluid">
    <div class="row" align="center">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="w3-content w3-section" style="{max-height:200px; max-width:100%}">
                <a href="#"><img class="mySlides w3-animate-fading" src="../images/Home/SliderImg1.jpg" style="width:100%"></a>
                <a href="#"><img class="mySlides w3-animate-fading" src="../images/Home/SliderImg2.jpg" style="width:100%"></a>
                <a href="#"><img class="mySlides w3-animate-fading" src="../images/Home/SliderImg3.jpg" style="width:100%"></a>
            </div>
        </div>
    </div>
</div>
<!--Mid Body-->
<div class="container-fluid">
    <div class="row">
        <!--Main Container-->
        <!--Start Parallex-->
        <!--End Paralex-->
        <div class="col-md-8 col-xs-12 col-sm-8 col-lg-8">
            <div class="@parallaxClass">

                <header>
                    <div class="parallexTextBackground">
                        <h1 class="parallexText">Eye World</h1>
                    </div>
                    <div class="w3-flat-pomegranate col-md-2 viewStoreBtn col-md-offset-5">
                        <h6><a href="#">View Store</a></h6>
                    </div>
                </header>
            </div>
        </div>
        <!--Promotion Contianer-->
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <p class="secHeading w3-flat-pomegranate">Hot Items</p>
                    </div>
                </div>
                @*Hot Items*@
                <div class="row">
                    <div class="col-md-12">
                        <div class="w3-content" style="max-width:1200px">
                            @{
                                int i = 1;
                                foreach (var item in Model.HotItems)
                                {
                                    string lnk = "/Home/ViewProduct/" + item.Id;
                                    <a href="@lnk"><img class="mySlides2" src="@item.Image" style="width:100%" title="@item.Name" /></a>
                                }
                            }
                            <div class="w3-row-padding w3-section">
                                @foreach (var item in Model.HotItems)
                                {
                                    <div class="w3-col s4">
                                        <img class="demo w3-opacity w3-hover-opacity-off" src="@item.Image" style="width:100%" onclick="currentDiv(@i)" title="@item.Name">
                                    </div>
                                    i++;
                                }
                            </div>

                        </div>
                    </div>
                </div>
                @*End of Hot Items*@
            </div>
        </div>
    </div>
</div>
<!--Item Gallery-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <p class="secHeading">Most Popular Sunglasses</p>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model.PopSunglasses)
        {
            string lnk = "/Home/ViewProduct/" + item.Id;
            <div class="col-md-3 col-xs-12 col-sm-6">
                <table class="table-responsive">
                    <tr>
                        <td class="itemcell"><img class="img-thumbnail img-thumbnail-custom" src="@item.Image"  height="500"/></td>
                    </tr>
                    <tr>
                        <td class="itemcell" align="center"><a href="@lnk" class="itemLink">@item.Name</a></td>
                    </tr>
                    <tr>
                        <td class="itemcell">Rs. @item.Price</td>
                    </tr>
                </table>
            </div>

        }
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <p class="secHeading">Most Popular Frames</p>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model.PopPrescriptionGlasses)
        {
            string lnk = "/Home/ViewProduct/" + item.Id;
            <div class="col-md-3 col-xs-12 col-sm-6">
                <table class="table-responsive">
                    <tr>
                        <td class="itemcell"><img class="img-thumbnail img-thumbnail-custom" src="@item.Image"/></td>
                    </tr>
                    <tr>
                        <td class="itemcell" align="center"><a href="@lnk" class="itemLink">@item.Name</a></td>
                    </tr>
                    <tr>
                        <td class="itemcell">Rs. @item.Price</td>
                    </tr>
                </table>
            </div>

        }
    </div>
</div>


