@model NawazEyeWebProject_NEW_.ViewModels.ViewProductViewModel
@using System.Configuration;

@{
    ViewBag.Title = "View " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var urlRedirect = ViewBag.Message;
}

<div class="col-md-6">
    <div class="w3-content" style="max-width:1200px">
        @{
            string path = ConfigurationManager.AppSettings["ItemsImagePath"];
            for (int i = 0; i < Model.Images.Count; i++)
            {
                string src = path + Model.Images[i];
                <img class="mySlides2" src="@Url.Content(src)" style="width:100%">
            }
        }

        <div class="w3-row-padding w3-section">
            @{
                for (int i = 1; i <= Model.Images.Count; i++)
                {
                    string src = path + Model.Images[i - 1];
                    <div class="w3-col s4">
                        <img class="demo w3-opacity w3-hover-opacity-off" src="@src" style="width:100%" onclick="currentDiv(@i.ToString())">
                    </div>
                }
            }
        </div>
    </div>
</div>
<div class="col-md-6 Product-Description">
    <h2>@Model.Name</h2>
    <table class="table-responsive">
        <tr>
            <td><h1>Rs. @Model.Price</h1></td>
            <td><h3>On Discount: Rs. @Model.DiscountedPrice</h3></td>
            <td align="right"><h6>@Model.Status</h6></td>
        </tr>
    </table>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrameColor)
        </dt>

        <dd>
            <span style="border-radius:300px; background-color:@Model.FrameColor; padding:0px 15px 0px 15px; margin-top:10px; margin-bottom:5px;"></span>
            <br />
        </dd>
        @if (Model.IsSunglasses)
        {
            <dt>
                @Html.DisplayNameFor(model => model.LensColor)
            </dt>

            <dd>
                <span style="border-radius:300px; background-color:@Model.LensColor; padding:0px 15px 0px 15px; margin-top:10px; margin-bottom:5px;"></span>
                <br />
            </dd>
        }
        else
        {
            <dt>
                @Html.DisplayNameFor(model => model.Frame)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Frame)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Lens)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Lens)
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Add To Cart", "AddToCart", "Cart", new { id = Model.Id, urlRedirect = @urlRedirect }, new { @class = "addToCartBtn" }) |
    @Html.ActionLink("Order Now", "Order", "Cart", new { id = Model.Id }, new { @class = "OrderNowBtn" })
</p>