@model IEnumerable<NawazEyeWebProject_NEW_.ViewModels.ViewFramesViewModel>

@{
    ViewBag.Title = "View Frames";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="col-md-9">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <table class="table-bordered table-show-item">
                <tr>
                    <td colspan="2" align="center" class="showingItems">@item.Name</td>
                    <td class="show-discount" align="right">@item.Discount</td>
                </tr>
                <tr>
                    <td colspan="3" align="center"><img src="@Url.Content(item.Image)" class="img-thumbnail-custom" /></td>
                </tr>
                <tr>
                    <td class="showingItemsPrice w3-metro-darken">Rs. @item.Price</td>
                    <td><div class="addToCartBtn"><a class="" href="@Url.Action("AddToCart", "Cart", new { id = @item.Id })">Add to Cart</a></div></td>
                    <td><div class="viewItemBtn"><a class="" href="@Url.Action("ViewProduct", "Home", new { id = @item.Id })">View</a></div>
                </tr>
            </table>
        </div>
    }
    
</div>
<div class="col-md-3">
    <img src="~/images/Shared/boy-bright-close-up-792326.jpg" class="img-responsive" />
</div>

