@model NawazEyeWebProject_NEW_.ViewModels.AddPhoneNumberViewModel
@{
    ViewBag.Title = "Phone Number";
}
<div class="col-md-8">
    <img class="img-responsive" src="~/images/Manage/changePhoneNumber.jpg" />
</div>
<h2>@ViewBag.Title.</h2>
<div class="col-md-4">
@using (Html.BeginForm("AddPhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Add a phone number</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Number, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.Number, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            <input type="submit" class="btn btn-default w3-flat-concrete" value="Submit" />
        </div>
    </div>
}
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
